<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js "></script>
    
    <title>re:invent calendar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .container-fluid {
            padding-left: 4%;
            padding-right: 4%;
        }

    </style>
</head>

<body>
    <div id="app" class="container-fluid">
        <h3><a href="#" v-on:click="downloadFavorites">Download Favorites</a></h3>
        <h3>Filter:</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" v-model="onlyFav" id="onlyFav">
            <label class="form-check-label" for="onlyFav">
              Only Favorite
            </label>
        </div>
        <h5>Tags:</h5>
        <form>
            <div class="form-group row">
                <label for="tagSearch" class="col-sm-1 col-form-label">Search</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" id="tagSearch" v-model="tagSearch" placeholder="tag">
                </div>
            </div>
            <div class="form-group row">
                <label for="tagNegSearch" class="col-sm-1 col-form-label">Negative Search</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" id="tagNegSearch" v-model="tagNegSearch" placeholder="tag">
                </div>
            </div>
        </form>
        <h3>Days: <div v-for="day in events" style="display:inline;"><a  v-bind:href="'#' + day.day">{{day.day}}</a>&nbsp;&nbsp;</div></h3>

        <h3>Full Agenda</h3>
        <div v-for="day in events">

            <div class="row justify-content-between">
                <div class="col col-lg-2">
                    <a v-bind:id="day.day"><h5>{{day.day}}</h5></a>
                </div>
                <div class="col col-lg-2 text-right">
                    <a href="#">Top</a>
                </div>
            </div>
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(event, index) in day.events">
                    <th scope="row">
                        <favorite :event="event"></favorite>
                    </th>
                    <td><a v-bind:href="event.url">{{event.title}}</a></td>
                    <td v-html="event.content"></td>
                    <td>{{event.tags}}</td>
                    <td>{{event.start}}-{{event.end}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="reinvent_agenda.json"></script>
    <script>
        function pad00(num) {
            str = num.toString();
            if (str.length == 1) {
                return "0" + str;
            }

            return str;
        }
        function dateToTime(date) {
            var hour = date.getHours();
            var min = date.getMinutes();
            return pad00(hour) + ":" + pad00(min);
        }

        let eventsDataObj = {};
        let tagsSet = new Set();
        
        agenda.forEach(event => {
            var start = new Date(event.schedulingData.start.timestamp * 1000);
            var end = new Date(event.schedulingData.end.timestamp * 1000);
            var day = start.getDate() + "/" + (start.getMonth() + 1);
            let tagsSplt = event.tags.split(",");
            tagsSplt.forEach(tag => {
                tagsSet.add(tag);
            });
            let eventData = {
                id: event.id,
                start: dateToTime(start),
                end: dateToTime(end),
                title: event.name,
                content: event.description,
                tags: event.tags,
                url: "https://virtual.awsevents.com/media/" + event.id,
            };
            if (eventsDataObj[day] === undefined) {
                eventsDataObj[day] = [];
            }
            eventsDataObj[day].push(eventData);
        });
        agenda = [];
        delete agenda;
        
        eventsData = [];
        Object.keys(eventsDataObj).forEach(key => {
            eventsData.push({
                day: key,
                events: eventsDataObj[key]
            });
        });

        eventsDataObj = {};
        delete eventsDataObj;


        let tags = [];
        tagsSet.forEach(tag => {
            tags.push(tag);
        });

        function appendFilter(a, b) {
            return (event) => a(event) && b(event);
        }

        function isFavorite(event) {
            return localStorage.getItem(event.id) == "true";
        }

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        let app = new Vue({
            el: '#app',
            data: {
                allEvents: eventsData,
                onlyFav: false,
                tags: tags,
                tagSearch: "",
                tagNegSearch: ""
            },
            methods: {
                downloadFavorites: () => {
                    const origFav = app.onlyFav;
                    app.onlyFav = true;
                    let eventsStr = "DATE, TITLE, START, END, ID, URL\n";
                    
                    app.events.forEach(eventsDay => {
                        eventsDay.events.forEach(event => {
                            eventsStr += [eventsDay.day + "/2020", event.title, event.start, event.end, event.id, event.url].join() + "\n";
                        });
                    });

                    app.onlyFav = origFav;
                    download("reinvent_favorites.csv", eventsStr);

                    
                }
            },
            computed: {
                events() {
                    let eventFilter = (event) => true;
                    if (this.onlyFav) {
                        eventFilter = appendFilter(eventFilter, event => isFavorite(event));
                    }
                    if (this.tagSearch != "") {
                        eventFilter = appendFilter(eventFilter, event => event.tags.includes(this.tagSearch));
                    }
                    if (this.tagNegSearch != "") {
                        eventFilter = appendFilter(eventFilter, event => !event.tags.includes(this.tagNegSearch));
                    }
                    let mappedEvents = _.map(eventsData, (eventsDay, idx, list) => {
                        return {
                            day: eventsDay.day,
                            events: _.filter(eventsDay.events, eventFilter)
                        };
                    });
                    return _.filter(mappedEvents, eventsDay => eventsDay.events.length != 0);
                }
            },
            components: {
                favorite: {
                    props: ['event'],
                    template: '<div class="form-check"><input class="form-check-input" type="checkbox" value="" v-model="fav"></div>',
                    computed: {
                        fav: {
                            get() {
                                return isFavorite(this.event);
                            },
                            set: function(newValue) {
                                localStorage.setItem(this.event.id, newValue ? "true" : "false");
                            }
                        }
                    }
                }
            }
            
        });

    </script>
</body>
</html>